[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/Nothin-m/learning-cxx.git
[submodule "hpc2torch"]
	path = hpc2torch
	url = https://github.com/Nothin-m/hpc2torch.git
[submodule "Rustlings"]
	path = Rustlings
	url = https://github.com/Nothin-m/Rustlings.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/Nothin-m/Rustlings.git
